<%= form_with(model: @topic, local: true) do |form| %>
     <% if @topic.errors.any? %>
          <div id="error_explanation">
               <h2><%= pluralize(@topic.errors.count, "erro") %> proibiram que o tópico fosse salvo:</h2>
               <ul>
                    <% @topic.errors.full_messages.each do |message| %>
                         <li><%= message %></li>
                    <% end %>
               </ul>
          </div>
     <% end %>

     <div class="field">
          <%= form.label :title, "Título" %>
          <%= form.text_field :title %>
     </div>

     <div class="field">
          <%= form.label :content, "Conteúdo" %>
          <%= form.text_area :content %>
     </div>

     <div class="actions">
          <%= form.submit "Criar Tópico" %>
     </div>
<% end %>