<h1>Criar Novo Tópico</h1>

<%= form_with(model: @topic, url: topics_path) do |form| %>
  <div class="field">
    <%= form.label :title, "Título do Tópico:" %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content, "Conteúdo do Tópico:" %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "Criar Tópico" %>
  </div>
<% end %>

<%= link_to "Voltar para Lista de Tópicos", topics_path %>
